.details {
    background-color: #FFFFFF;
    max-width: 1200px;
    .picture-and-details {
        .picture-wrapper {
        }
        .details {
            width: 100%;
            padding-right: 2rem;
            p {
                text-align: left;
                margin-bottom: 0rem;
            }
            .status {
                font-size: 14px;
                margin-bottom: 1rem;
            }
            .title {
                font-size: 24px;
                margin-bottom: 2rem;
            }
            .price {
                font-size: 46px;
                margin-bottom: 2rem;
            }
            .buy-button {
                background-color: #2483FA;
                border-color: #2483FA;
            }
        }
    }
    .description-wrapper {
        padding: 2rem 0rem 0rem 2rem;
        .title {
            text-align: left;
            font-size: 28px;
            margin-bottom: 2rem;
        }
        .description{
            text-align: left;
            font-size: 16px;
            margin-bottom: 2rem;
        }
    }
}

.something {
    margin: auto
}