.item-row {
    .img-wrapper {
        padding: 1rem;
        border-radius: 4px;
    }
    .img-wrapper:hover {
        cursor: pointer;
    }
    .details-wrapper {
        p {
            text-align: left;
        }
        .pl-wrapper {
            .price {
                font-size: 24px;
                margin-bottom: 2rem;
            }
            .location {
                font-size: 12px;
                padding-top: 12px;
                margin-bottom: 2rem;
            }
        }
        .description {
            font-size: 18px;
        }
        .description:hover {
            cursor: pointer;
        }
    }
}
